.top-stories{
    background: 0 0;
    color: #000;
    font-size: 18px;
    padding: 0;
    font-weight: 600;
    margin-bottom: 10px;
    height: auto;
    font-family: OpenSans-Bold;
}

.stories-segment{
    height: 600px;
    overflow-y: scroll;
}